{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .active, .accordion:hover {
            background-color: white;
        }
    </style>
    <main id="compte">

        <section class="section bg-img">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">

                        <div class="bg-blue-transparent card mb-5">
                            <div class="p-md-5 p-3 col-lg-10 mx-auto">
                                <div class="text-center mb-5">
                                    <h1 class="title has-decoration">Mon compte personnel</h1>
                                    <span class="subtitle">Johanna Queille</span>
                                </div>

                                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order" aria-selected="true">Commande</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-alert-tab" data-bs-toggle="pill" data-bs-target="#pills-alert" type="button" role="tab" aria-controls="pills-alert" aria-selected="false">Alerte</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Coordonnées</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">Mot de passe</button>
                                    </li>
                                </ul>

                                <div class="tab-content card p-5" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                                        <h2>Transit Temporaire</h2>
                                        <p>Nous avons bien reçu votre dernière demande et nous vous en remercions.</p>
                                        <p>Vous recevrez un email avec la confirmation définitive de votre réservation sous <strong>72 heures.</strong> Afin de valider la livraison de votre véhicule, l’ensemble de vos documents devra nous parvenir au plus tard <strong>25 jours</strong> avant la date de livraison prévue. À cet effet, veuillez consulter la liste des documents à nous envoyer en cliquant sur le bouton <strong>« Compléter »</strong>.</p>
                                        <p><u>Sans ces documents, nous ne pouvons pas garantir la livraison de votre véhicule.</u></p>

                                        <table class="table table-bordered table-striped table-responsive text-center mb-5">
                                            <thead>
                                            <tr>
                                                <th scope="col">Commande</th>
                                                <th scope="col">Livraison</th>
                                                <th scope="col">Retour</th>
                                                <th scope="col">Véhicule</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><span>T125376</span><br>25/05/2021</td>
                                                <td><strong>Genève Ferney Voltaire</strong><br>20 juin 2021</td>
                                                <td><strong>Genève Ferney Voltaire</strong><br>23 juillet 2021</td>
                                                <td><strong>Renault G21-Clio<br>Essence BVM GPS<br>Europe</strong></td>
                                                <td><strong>Remboursée</strong></td>
                                                <td><strong>(Na)</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span>T125376</span><br>25/05/2021</td>
                                                <td><strong>Genève Ferney Voltaire</strong><br>20 juin 2021</td>
                                                <td><strong>Genève Ferney Voltaire</strong><br>23 juillet 2021</td>
                                                <td><strong>Renault G21-Clio<br>Essence BVM GPS<br>Europe</strong></td>
                                                <td><strong>Remboursée</strong></td>
                                                <td><a class="btn btn-alt" href="#">Payer&#8239;maintenant</a></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <h2>Location Key Services</h2>
                                        <p class="fst-italic">Aucune commande disponible pour cet e-mai</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-alert" role="tabpanel" aria-labelledby="pills-alert-tab">...</div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                                    <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">...</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>
{% endblock %}
