{% extends 'base.html.twig' %}

{% block body %}
    <style>
        :root {
            --first-color: #345f8a;
            --first-color-alt: rgba(52,95,138,.8);
            --body-font: "Montserrat", sans-serif;
            --white: hsl(0, 0%, 100%);
            --white-opacity: rgba(255,255,255,.8);
            --white-opacity-light: rgba(255,255,255,.1);
            --grey-opacity: rgba(250, 250, 250, .9);
            --grey-light: #ACACAC;
            --grey: #E6E6E6;
        }


        body {
            margin: 0;
            padding: 0;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: var(--body-color);
            color: #345f8a;
        }

        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));
        }
        .row > * {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-top: var(--bs-gutter-y);
        }

        .col {
            flex: 1 0 0%;
        }

        #connexion .bg-img {
            background-image: url({{ asset('build/images/bg-connexion.png') }});
            height: 100%;
        }
        #connexion .wrapper {
            max-width: 700px;
            margin: 0 auto;
        }
        #connexion .title.has-decoration::before {
            background-image: url({{ asset('build/images/icone-compte.png') }});
        }
        #connexion p {
            font-size: 13px;
        }

        .bg-img {
            background-position: center;
            background-size: cover;
            padding-top: 10vh;
        }

        .bg-white-transparent {
            background-color: var(--white-opacity);
            border-radius: 1em;
            padding: 1.5rem 2rem;
        }
        .bg-white-transparent input, .bg-white-transparent textarea {
            border: 2px solid var(--grey);
        }

        .title {
            text-transform: none;
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            font-size: 24px;
        }
        .title.has-decoration {
            padding-left: 2rem;
            position: relative;
        }
        .bg-blue-transparent {
            background-color: var(--first-color-alt);
            border-radius: 1em;
            color: #FFFFFF;
            padding: 2rem 3rem;
        }
        .form-control {
            display: block;
            width: 100%;
            padding: 0.8rem 1.5rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.5;
            color: #345f8a;
            background-color: #fff;
            background-clip: padding-box;
            border: 0px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 2rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .col-form-label {
            background-color: var(--first-color);
            border-radius: 1.5em;
            font-weight: 700;
            -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            text-align: center;
            color: #FFFFFF;
        }
        .btn {
            display: inline-block;
            font-weight: 700;
            line-height: 1.5;
            color: #345f8a;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.8rem 1.5rem;
            font-size: 0.9rem;
            border-radius: 1.5rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .btn.btn-alt {
            background: #FFFFFF;
            color: #F72b37;
        }
        .btn.btn-alt.alt {
            position: relative;
            font-weight: normal;
            font-style: italic;
            font-size: 14px;
            padding-right: 1rem;
        }
        .btn.btn-alt.alt::after {
            position: absolute;
            right: 0;
            font: var(--fa-font-solid);
            font-weight: 400;
            content: "";
        }

        section {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .mb-4 {
            margin-bottom: 1.5rem !important;
        }


        .justify-content-between {
            justify-content: space-between !important;
        }

    </style>
    <main id="connexion">

        <section class="bg-img">
            <div class="container">
                <div class="col-lg-10 mx-auto bg-white-transparent">
                    <div class="wrapper">
                        <div class="text-center">
                            <h1 class="title has-decoration">Mon compte personnel</h1>
                            <p><strong>Vous avez déjà commandé sur un de nos sites ?</strong></p>
                            <p>Connectez-vous à l’aide de votre <strong>courriel</strong> et du <strong>mot de passe</strong> que vous avez reçu par e-mail, pour modifier vos coordonnées, gérer vos documents et suivre vos commandes.</p>
                        </div>
                        <div class="bg-blue-transparent">
                            <form action="" method="get" class="px-sm-3 px-3">

                                <div class="row mb-3">
                                    <label for="connexion-email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="connexion-email" placeholder="Votre email">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="connexion-password" class="col-sm-3 col-form-label">Mot de passe</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="connexion-password" placeholder="Votre mot de passe">
                                    </div>
                                </div>

                                <a class="btn btn-alt alt mb-4" href="">Mot de passe oublié ou inconnu</a>

                                <div class="row">
                                    <div class="btn-wrapper d-flex justify-content-between flex-wrap">
                                        <button class="btn btn-alt" type="submit" name="submit">Se connecter</button>
                                        <button class="btn btn-alt ms-sm-3" type="reset" name="reset">Fermer</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </main>
{% endblock %}
