{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">All Ranges</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for range in ranges %}
                                    <tr>
                                        <th scope="row">{{ range.id }}</th>
                                        <td>{{ range.libelle }}</td>
                                        <td>
                                            <a href="{{ path('create_car', { 'id': range.id }) }}" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i>Add Car</a>
                                            <a href="{{ path('create_range_promo', { 'id': range.id }) }}" class="btn btn-outline-warning"><i class="fas fa-plus-circle"></i>Add Promo</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
