@charset "UTF-8";
/**
******* Défault
**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
    --bs-primary: #345f8a !important;
    --bs-body-color: #345f8a !important;
    --bs-font-sans-serif: "Montserrat", sans-serif !important;
    --first-color: #345f8a;
    --first-color-alt: rgba(52, 95, 138, 0.8);
    --first-color-light: rgba(209, 225, 240, 1);
    --second-color: #2089d6;
    --second-color-alt: rgba(32, 137, 214, 0.7);
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 13px;
    --white: hsl(0, 0%, 100%);
    --white-opacity: rgba(255, 255, 255, 0.8);
    --white-opacity-light: rgba(255, 255, 255, 0.1);
    --grey-opacity: rgba(250, 250, 250, 0.9);
    --grey: #acacac;
    --grey-light: #e6e6e6;
    --dark-grey: #696a6a;
    --red: #f72b37;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color);
}

body#key {
    color: var(--second-color);
}

img {
    max-width: 100%;
    height: auto;
}

.col-form-label {
    background-color: var(--first-color);
    font-weight: 700;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    text-align: center;
    color: #ffffff;
}

#key .col-form-label {
    background-color: var(--second-color);
}

::-webkit-input-placeholder {
    color: var(--grey-light);
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
}

::-moz-placeholder {
    color: var(--grey-light);
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
}

:-ms-input-placeholder {
    color: var(--grey-light);
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
}

::-ms-input-placeholder {
    color: var(--grey-light);
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
}

::placeholder {
    color: var(--grey-light);
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.btn-wrapper.has-border {
    border-radius: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn.btn-alt {
    background: #ffffff;
    color: #f72b37;
    border-radius: 30px;
}
.btn.btn-alt.alt {
    position: relative;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}
.btn.btn-alt i {
    padding-left: 1rem;
}

.btn.btn-border {
    border: 2px solid var(--first-color);
}

.card-text {
    font-size: 12px;
}

.card-link {
    font-size: 12px;
    font-weight: 700;
    color: #f72b37;
    float: right;
}

.bg-blue {
    background-color: var(--first-color);
    color: #ffffff;
}

.bg-blue-transparent {
    background-color: var(--first-color-alt);
    border-radius: 30px;
    color: #ffffff;
}
.bg-blue-transparent .form-check {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 0;
}
@media screen and (max-width: 640px) {
    .bg-blue-transparent .form-check {
        grid-template-columns: repeat(2, 1fr);
    }
}
.bg-blue-transparent .form-check [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.bg-blue-transparent .form-check .brand_item {
    background-color: var(--white-opacity-light);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    border-radius: 1rem;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bg-blue-transparent .form-check .brand_item:hover {
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
@media screen and (max-width: 480px) {
    .bg-blue-transparent .form-check .brand_item {
        margin-top: 1rem;
    }
}
.bg-blue-transparent .form-check .brand_item img {
    max-width: 100px;
}
.bg-blue-transparent .form-check [type=radio]:checked + .brand_item {
    background-color: #ffffff;
    -webkit-filter: none;
    filter: none;
}
.bg-blue-transparent .form-check .brand_name {
    cursor: pointer;
}
.bg-blue-transparent .form-check .brand_name:hover {
    font-weight: 700;
}
.bg-blue-transparent .form-check [type=radio]:checked + .brand_name {
    font-weight: 700;
}

.bg-grey {
    background-color: var(--grey-opacity) !important;
    border-radius: 1em;
}

.bg-color-image {
    background-image: url("../images/shutterstock_1041257008_g.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-color-image:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--first-color-alt);
    z-index: 1;
}

.bg-color-image .container {
    position: relative;
    z-index: 1;
}

.bg-img {
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
}

.has-border {
    border: 2px solid #f5f5f5 !important;
}

.border {
    border: 2px solid var(--grey);
}

.has-shadow {
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}

.red {
    color: var(--red);
}

.blue {
    color: var(--second-color) !important;
}

.has-decoration-filigrane {
    position: relative;
}
.has-decoration-filigrane::after {
    position: absolute;
    top: 0;
    left: -70px;
    background: url(../images/douane/filigrane.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 60px;
    height: 75px;
    opacity: 0.2;
}
@media screen and (max-width: 480px) {
    .has-decoration-filigrane::after {
        display: none;
    }
}

.progressbar {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    padding-left: 0;
}
.progressbar li {
    list-style-type: none;
    color: var(--first-color);
    font-size: 16px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 700;
}
.progressbar li::before {
    font-weight: 400;
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 22px;
    color: var(--first-color);
    background: white;
    border-radius: 50%;
    border: 2px solid var(--first-color);
    margin: auto;
    position: relative;
    z-index: 3;
    margin-bottom: 0.7rem;
}
.progressbar li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--first-color);
    position: absolute;
    left: -50%;
    top: 25px;
    z-index: 1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before,
.progressbar #progressbar li.active:after {
    background: var(--first-color);
    color: white;
    font-weight: 700;
}

#key .progressbar li {
    color: var(--second-color);
}
#key .progressbar li::before {
    color: var(--second-color);
    border: 2px solid var(--second-color);
}
#key .progressbar li::after {
    background: var(--second-color);
}
#key .progressbar li.active:before,
#key .progressbar #progressbar li.active:after {
    background: var(--second-color);
    color: var(--white);
}

.check-list {
    list-style-image: url(../images/icon-check.png);
    font-size: 12px;
    margin-bottom: 0;
}
.check-list li {
    margin-bottom: 1rem;
}

.check-list.alt {
    list-style-image: url(../images/icon-cross.png);
}

table.price-table {
    color: var(--white);
    font-size: 12px;
}
table.price-table tr:last-of-type {
    font-size: 15px;
    border-top: 1px solid var(--white);
    margin-top: 1rem;
}
table.price-table tr:last-of-type td {
    padding: 0.5rem 0;
}
table.price-table td {
    padding: 0 0 0.5rem;
}
table.price-table td:last-of-type {
    font-weight: 700;
    text-align: right;
}

.cars-icons-wrapper {
    font-size: 9px;
}
.cars-icons-wrapper .item {
    width: 50px;
}
.cars-icons-wrapper img {
    width: 25px;
}

#key .cars-icons-wrapper {
    color: var(--second-color);
}

.separator {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    margin-top: -2rem;
}
.separator div {
    display: inline-block;
    background: var(--white);
    border: 2px solid var(--grey-light);
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-size: 16px;
}
.separator div i {
    color: var(--red);
    display: block;
}

.date-input {
    position: relative;
}
.date-input .date-picker {
    padding-right: 30px;
    position: relative;
}
.date-input i {
    position: absolute;
    color: var(--first-color);
    right: 25px;
    top: 15px;
}

/**
******* Typographie
**/
h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

p {
    font-size: 13px;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

input {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

.title {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.title.has-decoration {
    padding-left: 2rem;
    position: relative;
}
@media screen and (max-width: 480px) {
    .title.has-decoration {
        padding-left: 0;
    }
}
.title.has-decoration:before {
    position: absolute;
    bottom: 0;
    left: -1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 30px;
    height: 30px;
    opacity: 0.8;
}
@media screen and (max-width: 480px) {
    .title.has-decoration:before {
        left: 0 !important;
        display: block;
        margin: 0 auto 1rem;
        position: relative;
    }
}

/**
******* PAGE PRESENTATION
**/
#presentation .title {
    font-weight: 700;
    border-radius: 30px;
}
#presentation section.bg-grey {
    border-radius: 0;
}
#presentation .btn-wrapper {
    background-color: var(--white);
    padding: 2rem 3rem;
    width: auto;
}
#presentation .row.has-border {
    border-radius: 30px;
}
#presentation select.form-select {
    border: none;
}
#presentation .brand_logo_wrapper {
    background-color: var(--white-opacity-light);
    border-radius: 30px;
    padding: 1rem;
}

#hero.bg-img {
    background-image: url(../images/offre-speciale-key_service.png);
    height: 100%;
}
#hero .title {
    display: inline-block;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    text-transform: none;
    font-weight: 700;
}
#hero .numbers {
    font-weight: 700;
}
#hero .numbers span {
    color: #f72b37;
    font-size: 27px;
    display: block;
    margin-bottom: 2rem;
}
#hero .bg-blue-transparent .form-check {
    display: block;
}
#hero .bg-blue-transparent .form-check label {
    display: block;
    text-align: left;
}

#partner .partner_item {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 170px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
#partner .partner_item img {
    max-width: 100px;
}

#video {
    padding-bottom: 8rem;
}
#video .title {
    text-transform: none;
}
#video .video_wrapper {
    border-radius: 3rem;
    overflow: hidden;
}

#feature .title {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#feature .title:after {
    position: absolute;
    bottom: 0;
    right: -1rem;
    background-image: url(../images/decor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 60px;
    height: 60px;
    opacity: 0.2;
}
#feature .feature_item {
    text-align: center;
    color: #f72b37;
    font-weight: 700;
    margin-bottom: 1rem;
}
#feature .feature_icon {
    background-color: var(--first-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
#feature .feature_icon img {
    max-width: 50px;
}

.articles .card {
    border: none;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    margin-bottom: 2rem;
}
.articles .card-body {
    padding: 2rem 3rem;
}
.articles .card-body h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
}

/**
******* PAGE CONNEXION
**/
#connexion .bg-img {
    background-image: url(../images/bg-eiffel.png);
    height: 100%;
}
#connexion .wrapper {
    max-width: 700px;
    margin: 0 auto;
}
#connexion .title.has-decoration::before {
    background-image: url(../images/icone-compte.png);
}
#connexion p {
    font-size: 13px;
}
#connexion .btn-wrapper button {
    font-weight: 700;
}

/**
******* PAGE LIVRAISON
**/
#livraison {
    padding-bottom: 6rem;
}
#livraison .bg-img {
    background-image: url(../images/bg-livraison.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#livraison .title.has-decoration::before {
    background-image: url(../images/icone-centre-livraison.png);
}
#livraison p {
    font-size: 13px;
}
#livraison select.form-select {
    border: none;
}
#livraison .center {
    position: relative;
    top: -8rem;
}
#livraison .center_img {
    max-width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#livraison .center_data h2 {
    font-size: 16px;
    color: #f72b37;
}
#livraison .center_data span {
    display: block;
    font-style: italic;
    font-size: 13px;
}
#livraison .center .btn {
    font-size: 13px;
}

/**
******* PAGE FAQ
**/
#faq .bg-img {
    background-image: url(../images/bg-livraison.png);
    height: 100%;
}
#faq .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-question.png);
}
#faq .accordion-item {
    border-radius: 2rem;
    background-color: #ffffff;
    border: 2px solid var(--grey);
    margin-bottom: 1rem;
}
#faq .accordion-item li {
    font-size: 13px;
}
#faq .accordion-header button {
    background: transparent;
    color: var(--first-color);
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    box-shadow: none;
}
#faq .accordion-header button::after {
    background-image: none;
    content: "";
    font-family: "FontAwesome";
    font-size: 14px;
    left: -32px;
    top: 0;
    color: var(--red);
}
#faq .accordion-collapse {
    margin-bottom: 1.5rem;
}
#faq .btn.btn-alt {
    font-weight: 700;
}

/**
******* PAGE GAMME
**/
#gamme .bg-img {
    background-image: url(../images/bg-gamme.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#gamme .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-vehicule.png);
}
#gamme .card.shadow-on-hover {
    border: 2px solid var(--grey);
}
#gamme .card.shadow-on-hover:hover {
    border: none;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
#gamme .center {
    position: relative;
    top: -8rem;
}
#gamme .center_img {
    max-width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#gamme .center_data h2 {
    font-size: 16px;
    color: #f72b37;
}
#gamme .center_data span {
    display: block;
    font-style: italic;
    font-size: 13px;
}
#gamme .center .btn {
    font-size: 13px;
}

/**
******* PAGE CONTACT
**/
#contact .bg-img {
    background-image: url(../images/bg-livraison.png);
    height: 100%;
}
#contact .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-enveloppe.png);
}
#contact .bg-img.douane {
    background-image: url(../images/bg-douane.png);
}
#contact .form-check.form-check-inline {
    font-style: italic;
}
#contact .btn.btn-alt {
    font-weight: 700;
}

/**
******* PAGE PROMOTION
**/
#promotion {
    padding-bottom: 6rem;
}
#promotion .bg-img {
    background-image: url(../images/bg-promotions.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#promotion .title.has-decoration::before {
    background-image: url(../images/icone-promotions.png);
}
#promotion p {
    font-size: 13px;
}
#promotion .card p {
    font-size: 18px;
}
#promotion .center {
    position: relative;
    top: -8rem;
}
#promotion .center_img {
    max-width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#promotion .center_data span {
    font-size: 14px;
    color: #f72b37;
    font-weight: 700;
}
#promotion .center .btn {
    font-size: 13px;
}

/**
******* PAGE GROUPE
**/
#groupe .bg-img {
    background-image: url(../images/bg-eiffel.png);
    height: 100%;
}
#groupe .bg-img .title.has-decoration::before {
    background-image: url(../images/page-groupe/titre-voitures.png);
    width: 60px;
    left: -2.5rem;
}
#groupe .card {
    align-items: flex-start;
}
#groupe .card .card-img-top {
    max-height: 70px;
    width: auto;
    margin-bottom: 1rem;
    text-align: center;
}
#groupe .card .card-body {
    border: 2px solid var(--grey);
    border-radius: 30px;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
@media screen and (max-width: 768px) {
    #groupe .card .btn-wrapper {
        justify-content: center;
    }
}
#groupe .card .btn {
    font-size: 13px;
    text-align: center;
}
#groupe .card .btn.btn-alt {
    font-weight: 700;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}
#groupe .card .item {
    width: calc(50% - 6px);
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 0.5rem;
}
@media screen and (max-width: 640px) {
    #groupe .card .item {
        width: 100%;
    }
}
#groupe .card .item .item-icon {
    background-color: var(--first-color);
    border-radius: 30px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#groupe .card .item .item-content {
    font-size: 10px;
    font-style: italic;
}
#groupe .card .item .item-content strong {
    font-style: normal;
}

/**
******* PAGE COMPTE
**/
#compte .bg-img {
    background-image: url(../images/bg-seine.png);
    height: 100%;
}
#compte .bg-img .title {
    margin-bottom: 1rem;
}
#compte .bg-img .title.has-decoration::before {
    background-image: url(../images/page-compte/titre-compte.png);
    width: 60px;
    left: -1rem;
}
#compte .bg-img .subtitle {
    font-size: 16px;
    font-weight: 700;
}
#compte .table-responsive {
    border-radius: 30px;
    display: block;
    border: 2px solid var(--grey-light);
    font-size: 13px;
    color: var(--first-color);
}
#compte .table-responsive thead {
    background-color: var(--first-color);
    color: var(--white);
}
#compte .table-responsive td {
    vertical-align: middle;
}
#compte .table-responsive.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--first-color);
}
#compte .table-responsive .btn {
    font-size: 12px;
    font-weight: 700;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
#compte .tab-content.card {
    color: var(--first-color);
}
#compte .tab-content.card h2 {
    font-size: 18px;
    font-weight: 700;
}
#compte .tab-content.card u {
    color: var(--red);
}
#compte .table td {
    color: var(--first-color);
}
#compte .table span {
    font-size: 15px;
    font-weight: 700;
}
#compte .fst-italic {
    color: var(--grey);
}

/**
******* PAGE VOITURE
**/
#voiture .bg-img {
    background-image: url(../images/bg-seine.png);
    height: 100%;
}
#voiture .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-vehicule.png);
    width: 60px;
    left: -2.5rem;
}
#voiture h2 {
    font-size: 22px;
    font-weight: 700;
}
#voiture .right {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}
#voiture .right span {
    font-size: 22px;
    font-weight: 700;
    background-color: var(--white);
    color: var(--red);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}
#voiture .items-wrapper {
    position: relative;
    text-align: center;
    font-size: 10px;
    gap: 1.5rem;
}
@media screen and (min-width: 480px) {
    #voiture .items-wrapper::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 2.5rem;
        background-color: var(--grey-light);
    }
}
#voiture .items-wrapper img {
    display: block;
    width: 28px;
}
#voiture .items-wrapper span {
    color: var(--red);
    font-size: 13px;
    font-weight: 700;
    display: block;
}
@media screen and (min-width: 480px) {
    #voiture .items-wrapper span {
        margin-top: 3rem;
    }
}

/**
******* PAGE CONFIRMATION COMMANDE
**/
#confirmation .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100vh;
}
#confirmation .bg-img h2 {
    font-size: 18px;
    font-weight: 700;
}
#confirmation .bg-img h3 {
    font-size: 16px;
    font-weight: 700;
}
#confirmation .header-wrapper a {
    font-size: 14px;
    color: var(--grey);
    font-weight: 700;
    text-decoration: underline;
}
#confirmation .card-wrapper {
    background: var(--grey-light);
}
#confirmation .card-wrapper .price {
    color: var(--grey);
    font-weight: 700;
    font-size: 16px;
}
#confirmation .card-wrapper .price span {
    color: var(--red);
    font-size: 30px;
    margin-left: 2rem;
}
#confirmation .item-table {
    color: var(--grey);
    font-size: 14px;
}
#confirmation .item-table .label {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    display: block;
}
#confirmation .item-table .price {
    font-size: 24px;
    font-weight: 700;
    color: var(--red);
}
#confirmation .item-table .product_quantity {
    display: inline-block;
    width: 60px;
    height: 40px;
    border: 1px solid var(--grey-light);
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
}
#confirmation .item-table .product_quantity input {
    display: block;
    width: 30px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--first-color);
    text-align: left;
    padding-left: 9px;
    line-height: 39px;
    float: left;
}
#confirmation .item-table .product_quantity .quantity_buttons {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 29px;
}
#confirmation .item-table .product_quantity .quantity_inc,
#confirmation .item-table .product_quantity .quantity_dec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}
#confirmation .item-table .product_quantity .quantity_control i {
    font-size: 14px;
    color: var(--grey-light);
    pointer-events: none;
}
#confirmation .item-table .product_quantity .quantity_inc {
    padding-bottom: 3px;
    justify-content: flex-end;
}
#confirmation .item-table .product_quantity .quantity_inc i {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
#confirmation .item-table .product_quantity .quantity_dec {
    padding-top: 3px;
    justify-content: flex-start;
}
#confirmation .item-table .product_quantity .quantity_dec i {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
#confirmation .item-table tr td:last-of-type {
    font-size: 10px;
    font-style: italic;
}
#confirmation .item-table .table-img {
    min-width: 60px;
}
#confirmation .item-table .table-desc {
    width: 40%;
}
#confirmation .item-table .table-mention {
    max-width: 60px;
}
#confirmation .bg-grey span {
    font-size: 14px;
    color: var(--red);
    font-weight: 700;
}
#confirmation .bg-grey p {
    color: var(--grey);
    font-size: 11px;
}
#confirmation .bg-grey a {
    color: var(--first-color);
}
#confirmation input,
#confirmation textarea {
    border: 2px solid var(--grey-light);
}
#confirmation .date-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-gap: 0.2rem;
}
#confirmation .legal-check {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
}

/**
******* PAGE COMMANDE
**/
#commande .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100vh;
}
#commande h1 {
    font-size: 24px;
    color: var(--red);
}
#commande h2 {
    font-size: 18px;
    font-weight: 700;
}
#commande h3 {
    font-size: 16px;
    font-weight: 700;
}
#commande .label-style {
    border-radius: 30px;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    background: var(--white);
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 14px;
    font-weight: 700;
}
#commande p a {
    font-weight: 700;
    color: var(--first-color);
}
#commande h2.w-100 {
    font-weight: 20;
    background-color: var(--first-color);
    padding: 0.8rem 1.5rem;
    color: var(--white);
    text-align: center;
    border-radius: 30px;
}
#commande .aside .card.bg-grey {
    border: none;
}
#commande .aside .card.bg-grey p {
    color: var(--first-color);
    font-size: 13px;
}
#commande .aside .card.bg-white-transparent h3 {
    font-size: 14px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--first-color);
}
#commande .aside .card.bg-white-transparent span {
    color: var(--red);
    font-size: 24px;
    font-weight: 700;
}

/**
******* PAGE KEY OFFRE
**/
#key-offre .bg-img {
    background-image: url(../images/bg-ville.png);
    height: 100%;
}
#key-offre .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-certificat-alt.png);
    width: 60px;
    left: -2.5rem;
}
#key-offre .bg-overlay {
    position: relative;
}
#key-offre .text-overlay {
    position: absolute;
    top: 50%;
    padding: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#key-offre .text-overlay h2 {
    color: var(--red);
    font-size: 26px;
    font-weight: 700;
}
@media screen and (max-width: 480px) {
    #key-offre .text-overlay h2 {
        font-size: 20px;
    }
}
#key-offre .text-overlay p {
    font-size: 20px;
    font-weight: 700;
}
@media screen and (max-width: 480px) {
    #key-offre .text-overlay p {
        font-size: 15px;
    }
}
#key-offre .bg-white-transparent p {
    color: var(--dark-grey);
}

/**
******* PAGE CONFIRMATION COMMANDE
**/
#key-confirmation .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100vh;
}
#key-confirmation .bg-img h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--second-color);
}
#key-confirmation .bg-img h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--second-color);
}
#key-confirmation .bg-img .bg-blue-light-transparent h3 {
    color: var(--white);
}
#key-confirmation .bg-img .reset {
    font-size: 14px;
    color: var(--grey);
    font-weight: 700;
    text-decoration: underline;
}
#key-confirmation .card-wrapper {
    background: var(--grey-light);
}
#key-confirmation .card-wrapper .price {
    color: var(--grey);
    font-weight: 700;
    font-size: 16px;
}
#key-confirmation .card-wrapper .price span {
    color: var(--red);
    font-size: 30px;
}
#key-confirmation .card-wrapper .price em {
    display: block;
    padding-top: 1rem;
    font-weight: normal;
    font-size: 14px;
}
#key-confirmation .item-table {
    color: var(--grey);
    font-size: 14px;
}
#key-confirmation .item-table .label {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    display: block;
}
#key-confirmation .item-table .price {
    font-size: 24px;
    font-weight: 700;
    color: var(--red);
}
#key-confirmation .item-table .product_quantity {
    display: inline-block;
    width: 60px;
    height: 40px;
    border: 1px solid var(--grey-light);
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
}
#key-confirmation .item-table .product_quantity input {
    display: block;
    width: 30px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--second-color);
    text-align: left;
    padding-left: 9px;
    line-height: 39px;
    float: left;
}
#key-confirmation .item-table .product_quantity .quantity_buttons {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 29px;
}
#key-confirmation .item-table .product_quantity .quantity_inc,
#key-confirmation .item-table .product_quantity .quantity_dec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}
#key-confirmation .item-table .product_quantity .quantity_control i {
    font-size: 14px;
    color: var(--grey-light);
    pointer-events: none;
}
#key-confirmation .item-table .product_quantity .quantity_inc {
    padding-bottom: 3px;
    justify-content: flex-end;
}
#key-confirmation .item-table .product_quantity .quantity_inc i {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
#key-confirmation .item-table .product_quantity .quantity_dec {
    padding-top: 3px;
    justify-content: flex-start;
}
#key-confirmation .item-table .product_quantity .quantity_dec i {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
#key-confirmation .item-table tr td:last-of-type {
    font-size: 10px;
    font-style: italic;
}
#key-confirmation .item-table .table-img {
    min-width: 60px;
}
#key-confirmation .item-table .table-desc {
    width: 40%;
}
#key-confirmation .item-table .table-mention {
    max-width: 60px;
}
#key-confirmation .col-form-label {
    font-size: 12px;
}
#key-confirmation .bg-grey span {
    font-size: 14px;
    font-weight: 700;
}
#key-confirmation .bg-grey p {
    color: var(--grey);
    font-size: 11px;
}
#key-confirmation .bg-grey a {
    color: var(--second-color);
}
#key-confirmation input,
#key-confirmation textarea {
    border: 2px solid var(--grey-light);
}
#key-confirmation .date-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-gap: 0.2rem;
}
#key-confirmation .legal-check {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
}

#key-voiture .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100vh;
}
#key-voiture .bg-img h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--second-color);
}
#key-voiture .bg-img h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--second-color);
}
#key-voiture .bg-img .bg-blue-light-transparent h3 {
    color: var(--white);
}
#key-voiture .bg-img .reset {
    font-size: 14px;
    color: var(--grey);
    font-weight: 700;
    text-decoration: underline;
}
#key-voiture .bg-img .flag {
    text-align: center;
    background-color: var(--second-color);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
}
#key-voiture .bg-img .btn.btn-alt {
    font-weight: bold;
}
#key-voiture .price {
    background-color: var(--grey-light);
}
#key-voiture .price span {
    color: var(--red);
    font-size: 24px;
    font-weight: bold;
    margin-right: 1rem;
}
#key-voiture .price .btn-primary {
    -webkit-filter: none;
    filter: none;
}
#key-voiture .price .btn-primary.unselect {
    background-color: var(--grey);
}
#key-voiture .modal-dialog {
    max-width: 1000px;
}
#key-voiture .modal-dialog .modal-content {
    border-radius: 30px;
    border: none;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
#key-voiture .modal-dialog .modal-content .card {
    border: none;
}
#key-voiture .modal-dialog .modal-content .rounded-pill {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#key-voiture .modal-dialog .modal-content .items-list {
    list-style: none;
    max-height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
}

/**
******* PAGE CONFIRMATION COMMANDE
**/
#key-services .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100%;
}
#key-services .bg-img h1 {
    font-size: 24px;
}
#key-services .services-icons-wrapper {
    border: 2px solid var(--grey);
    border-radius: 30px;
}
#key-services .services-icons-wrapper .services-icon-img {
    background-color: var(--second-color);
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#key-services .services-icons-wrapper .services-icon-img img {
    max-height: 30px;
}
#key-services .bg-white-transparent .btn-alt {
    font-weight: bold;
}
#key-services .bg-blue-extra-light h2 {
    font-size: 20px;
    font-weight: bold;
}
#key-services .bg-blue-extra-light p {
    color: var(--grey);
    margin-bottom: 0;
    font-size: 14px;
    margin-bottom: 1rem;
}
#key-services .bg-blue-extra-light p strong {
    color: var(--second-color);
}
#key-services .card.has-border p {
    color: var(--red);
}

/**
******* PAGE RESERVATION
**/
#key-reservation .bg-img {
    background-image: url(../images/bg-route-ville.png);
    height: 100%;
}
#key-reservation .bg-img h1 {
    font-size: 24px;
}
#key-reservation h2 {
    font-size: 20px;
    font-weight: 700;
}
#key-reservation .col-form-label {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
#key-reservation .input-title {
    background-color: var(--white);
    border-radius: 30px;
    overflow: hidden;
}
#key-reservation .input-title span {
    display: block;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    color: var(--first-color);
    font-weight: 700;
}
#key-reservation .input-title .form-control,
#key-reservation .input-title .form-select {
    padding-top: 0;
    color: var(--first-color);
}
#key-reservation .input-title i {
    top: 25px;
}
#key-reservation select.form-select {
    border: none;
}
#key-reservation .sub-form label {
    font-size: 14px;
    padding: 0.8em;
}
#key-reservation .services-icon-img {
    min-width: 40px;
    margin-right: 1rem;
}
#key-reservation .icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#key-reservation .btn {
    font-weight: 700;
}
#key-reservation .form-check-label {
    font-weight: 700;
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#key-reservation .form-check-label input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#key-reservation .form-check-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #ffffff;
    border-radius: 50%;
}
#key-reservation .form-check-label .checkmark::after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    content: "";
    position: absolute;
    display: none;
}
#key-reservation .form-check-label input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
    background-color: var(--red);
}

/**
******* PAGE DOUANE
**/
#douane-export .bg-img.douane {
    background-image: url(../images/bg-douane-maritime.png);
}
#douane-export .bg-img {
    background-image: url(../images/bg-douane.png);
    height: 100%;
}
#douane-export .bg-img .title.has-decoration::before {
    background-image: url(../images/icone-enveloppe.png);
}
#douane-export h1 {
    font-size: 24px;
}
#douane-export h2 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}
#douane-export h3 {
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 1rem;
}
#douane-export .douane-icons-wrapper {
    border: 2px solid var(--white);
    border-radius: 30px;
}
#douane-export .douane-icons-wrapper .douane-icon-img {
    background-color: var(--first-color);
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#douane-export .douane-icons-wrapper .douane-icon-img img {
    max-height: 30px;
}
#douane-export .douane-icons-wrapper p {
    margin-bottom: 0;
}
#douane-export .bg-white-transparent .btn-primary {
    font-size: 26px;
}
#douane-export .douane-price {
    font-weight: bold;
    height: 100%;
}
#douane-export .douane-price div {
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 200px;
    border-top: 1px solid var(--first-color);
    color: var(--red);
    font-size: 13px;
}
#douane-export .douane-price div span {
    font-size: 26px;
}
#douane-export form [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#douane-export form label {
    display: block;
}
#douane-export form .douane-form-label {
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 14px;
    background: #f0f0f0;
    color: var(--grey);
    cursor: pointer;
}
#douane-export form .douane-form-label:hover {
    background: var(--white);
    color: var(--red);
}
#douane-export form [type=radio]:checked + .douane-form-label {
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    font-weight: 700;
    color: var(--red);
    background: var(--white);
}
#douane-export .card span.red {
    font-size: 13px;
    margin: 2rem 0;
    display: block;
}
#douane-export .card .btn.has-shadow {
    font-size: 13px;
    font-weight: 700;
}
#douane-export .table-responsive {
    border-radius: 30px;
}
#douane-export .table {
    font-weight: 700;
    color: var(--first-color);
}
#douane-export .table th {
    background: var(--first-color);
    color: var(--white);
}
#douane-export .table .cell-blue {
    background: var(--first-color-alt);
    color: var(--white);
}
#douane-export .table .cell-blue-light {
    background: var(--first-color-light);
    color: var(--first-color);
}
#douane-export .table .cell-grey {
    background: var(--grey-opacity);
}
#douane-export .table > :not(caption) > * > * {
    padding: 0.8rem;
}

/**
******* Surcharge Bootstrap
**/
input.form-control {
    border: none;
    border-radius: 30px;
}

input[type=radio] {
    float: none;
    margin-left: 5px;
}

select.form-select {
    border: 2px solid var(--grey-light);
    border-radius: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 14px;
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="%23F72b37" d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/%3e%3c/svg%3e');
}

.container a:hover {
    color: var(--first-color);
}
.container h1 {
    font-weight: 700;
}
.container .col-form-label, .container .form-control {
    border-radius: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 14px;
}
.container button {
    border-radius: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
}
.container .btn {
    border-radius: 30px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.container .btn-primary {
    background-color: var(--first-color);
    border: none;
    font-weight: 700;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
.container .nav-pills {
    gap: 1rem;
}
.container .nav-pills .nav-link {
    width: 150px;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--white-opacity-light);
    border: 2px solid var(--white);
    color: var(--white);
}
.container .nav-pills .nav-link.active, .container .nav-pills .show > .nav-link {
    background-color: var(--white);
    color: var(--red);
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
.container .badge {
    background-color: var(--red);
    font-size: 12px;
    padding: 0.7rem;
}

.container .card, .container-fluid .card {
    border-radius: 30px;
    overflow: hidden;
}
.container .card.bg-blue-transparent, .container-fluid .card.bg-blue-transparent {
    background-color: var(--first-color-alt);
}
.container .card.bg-blue-light-transparent, .container-fluid .card.bg-blue-light-transparent {
    background-color: var(--second-color-alt);
    color: #FFFFFF;
}
.container .card.bg-blue-extra-light, .container-fluid .card.bg-blue-extra-light {
    background-color: rgba(32, 137, 214, 0.04);
    border: none;
}
.container .card.bg-white, .container-fluid .card.bg-white {
    background-color: var(--white);
    color: var(--first-color);
}
.container .card.bg-white-transparent, .container-fluid .card.bg-white-transparent {
    background-color: var(--white-opacity) !important;
    border: none;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}
.container .card.bg-white-transparent input[type=text], .container .card.bg-white-transparent textarea, .container .card.bg-white-transparent input[type=radio], .container-fluid .card.bg-white-transparent input[type=text], .container-fluid .card.bg-white-transparent textarea, .container-fluid .card.bg-white-transparent input[type=radio] {
    border: 2px solid var(--grey-light);
}
.container .card.bg-white-transparent-extra-light, .container-fluid .card.bg-white-transparent-extra-light {
    background-color: var(--white-opacity-light) !important;
}

#key .btn-primary {
    background-color: var(--second-color);
}
/*# sourceMappingURL=style.css.map */