{% extends 'douane/base_douane.html.twig' %}

{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class=" wow zoomInLeft">Déclaration Douane</h1>
            {#   <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.3s">
            <h3>Read Latest Auto News &amp; Reviews</h3>
        </div>#}
        </div>
    </section><!--b-pageHeader-->

    <div class="b-blog s-shadow" style="margin-bottom: 15%">
        <div class="container" style="text-align: center">
            <h3>Déclaration Douane</h3>
            <p>La déclaration douanière d’exportation seule, est réservée aux véhicules déjà immatriculés destinés à être exportés hors Union Européenne.</p>
            <div class="row">
                <h5>» Type d’immatriculation:</h5>

                <button class="accordion">Véhicule immatriculé en WW</button>
                <div class="panel">
                    <h3>Déclaration Douanière d'Exportation
                        (Immatriculation en WW)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">100 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>La déclaration douanière d'exportation.</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Conditions d’application :   </p>
                        <ul>
                            <li>1. Pour une destination d’export hors de l’Union Européenne.</li>
                       </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- CCopie du certificat de conformité ou PV des Mines (3 en 1)</li>
                            <li>- Copie du certificat provisoire d’immatriculation</li>
                            <li>- Copie du passeport en cours de validité</li>
                            <li>- Justificatif de domicile de moins de trois mois</li>
                            <li>- Copie de la facture du véhicule hors taxe</li>
                        </ul>
                        <br>
                        <p class="border_red">ATTENTION: Si votre véhicule n'a jamais été immatriculé, ce service ne vous sera pas accessible. Veuillez utiliser un TT ou un W Export dans ce cas.</p>

                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">Autres types</button>
                <div class="panel">
                    <h3>Déclaration Douanière d'Exportation
                        (Autres types d’immatriculation)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">100 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>La déclaration douanière d'exportation.</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Conditions d’application :   </p>
                        <ul>
                            <li>1. Pour une destination d’export hors de l’Union Européenne.</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie de la carte grise barrée datée et signée de la part du vendeur avec la mention vendu le ../../..</li>
                            <li>- Copie du certificat de cession (vente)/li>
                            <li>- Certificat de situation (non gage)</li>
                            <li>- Fin de démonstration si véhicule de démonstration (à réclamer au concessionnaire) ou déclaration d’achat si véhicule racheter par la concession</li>
                            <li>- Copie du passeport en cours de validité</li>
                            <li>- Justificatif de domicile de moins de trois mois</li>
                            <li>- Copie de la facture du véhicule hors taxe</li>
                        </ul>
                        <br>
                        <p class="border_red">ATTENTION: Si votre véhicule n'a jamais été immatriculé, ce service ne vous sera pas accessible. Veuillez utiliser un TT ou un W Export dans ce cas.</p>

                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
