{% extends 'douane/base_douane.html.twig' %}

{% block body %}

    <section class="b-pageHeader">
        <div class="container">
            <h1 class=" wow zoomInLeft" data-wow-delay="0.3s">W EXPORT</h1>
            {#   <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.3s">
            <h3>Read Latest Auto News &amp; Reviews</h3>
        </div>#}
        </div>
    </section><!--b-pageHeader-->

    <div class="b-blog s-shadow" style="margin-bottom: 15%">
        <div class="container" style="text-align: center">
            <h3>W Export</h3>
            <p>Le W Export permet de circuler maximum 4 mois en France Métropolitaine. Ce régime est ouvert aux particuliers ayant une résidence Hors France ou dans un DOM/TOM. Les Sociétés aussi peuvent en bénéficier si elles remplissent les mêmes conditions. Il est possible d’immatriculer un véhicule en W Export si le propriétaire est muté ou transfère sa résidence Hors France métropolitaine.</p>
            <div class="row">
                <h5>» Destination de l’export et status :</h5>
                <button class="accordion">Union Européenne pour les sociétés</button>
                <div class="panel">
                    <h3>W Export Union Européenne (Société)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">150 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport ou pièce d’identité, en cours de validité, du Gérant mentionné sur le K.BIS ou les statuts</li>
                            <li>- Copie d’un extrait K.BIS ou du registre du commerce de la société de moins de deux ans (accompagnée de sa traduction officielle si nécessaire)</li>
                            <li>- Facture d’achat HT originale mentionnant le nom et l’adresse de l’entreprise dans l’U.E. et l’annotation « Exonération de TVA article 262-ter 1 du CGI »</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">Union Européenne pour les particuliers</button>
                <div class="panel">
                    <h3>W Export International & Dom/Tom (Société)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">250 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport ou pièce d’identité, en cours de validité, du Gérant mentionné sur le K.BIS ou les statuts</li>
                            <li>- Copie d’un extrait K.BIS ou du registre du commerce de la société de moins de deux ans (accompagnée de sa traduction officielle si nécessaire)</li>
                            <li>- Facture d’achat HT originale mentionnant le nom et l’adresse de l’entreprise à l’étranger ou dans les DOM/TOM et l’annotation « Exonération de TVA article 262-1 du CGI »</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">W Export International & Dom/Tom pour les société</button>
                <div class="panel">
                    <h3>W Export Union Européenne (Particulier)
                    </h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">150 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport ou pièce d’identité, en cours de validité.</li>
                            <li>- Justificatif de domicile de moins de trois mois</li>
                            <li>- Facture d’achat HT originale mentionnant le nom et l’adresse de l’entreprise dans l’U.E. et l’annotation « Exonération de TVA article 262-ter 1 du CGI »</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">W Export International & Dom/Tom pour les particulier français résidant hors Union Européenne</button>
                <div class="panel">
                    <h3>W Export International & Dom/Tom (Particulier français résidant hors Union Européenne)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">250 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport en cours de validité OU de la CNI en cours de validité traduite chez un traducteur agréé</li>
                            <li>- Justificatif de domicile de moins de trois mois</li>
                            <li>- Facture d’achat HT originale mentionnant le nom, le prénom et l’adresse de l’acheteur à l’étranger ou dans les DOM/TOM et l’annotation « Exonération de TVA article 262-1 du CGI »</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">W Export International & Dom/Tom pour les particulier étranger résidant hors Union Européenne</button>
                <div class="panel">
                    <h3>W Export International & Dom/Tom
                        (Particulier étranger résidant hors Union Européenne)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">250 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport ou pièce d’identité, en cours de validité, du Gérant mentionné sur le K.BIS ou les statuts</li>
                            <li>- Facture d’achat HT originale mentionnant le nom, le prénom et l’adresse de l’acheteur à l’étranger ou dans les DOM/TOM et l’annotation « Exonération de TVA article 262-1 du CGI »</li>
                            <li>- Copie d’un extrait K.BIS ou du registre du commerce de la société de moins de deux ans</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">W Export International & Dom/Tom pour les particulier résidant dans les Dom/Com/Pom</button>
                <div class="panel">
                    <h3>W Export International & Dom/Tom
                        (Particulier résidant dans les Dom/Com/Pom)</h3>
                    <div>
                        <p>Tarif : Nous proposons un forfait à <span style="font-weight: bold">250 €.</span></p>
                        <p>Ce tarif comprend :</p>
                        <ul>
                            <li>Le certificat provisoire d’immatriculation valable 4 mois</li>
                            <li>Les plaques d’immatriculation</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>Documents nécessaires :</p>

                        <p class="subtilble"> » Documents à remplir, dater, signer (même signature que sur la pièce d’identité) et à nous retourner par voie postale ou à déposer sur place:</p>
                        <ul>
                            <li>- Mandat W Export</li>
                            <li>- Demande d’immatriculation W Export</li>
                        </ul>
                        <br>
                        <p class="subtilble">» Justificatifs supplémentaires à fournir pour finaliser votre dossier:</p>
                        <ul>
                            <li>- Copie du passeport ou de la CNI, en cours de validité.</li>
                            <li>- Facture d’achat HT originale mentionnant le nom, le prénom et l’adresse de l’acheteur à l’étranger ou dans les DOM/TOM et l’annotation « Exonération de TVA article 262-1 du CGI »</li>
                            <li>- Justificatif de domicile de moins de trois mois</li>
                            <li>- PV des mines original, tamponné et signé par le concessionnaire</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
